{% extends "base.html" %}

{% block content %}

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-11 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h2 class="float-start">Brand List</h2>
                        <p class="float-end"><a href="{% url 'brand_create' %}">New Brand</a></p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>slug</th>
                                        <th>website</th>
                                        <th>products count</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}